name: NUER CI

on: push

jobs:
  CI:
    name: CI
    runs-on: ${{ matrix.os }}
    continue-on-error: false
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    
    steps:
      - name: Clonage du répository
        uses: actions/checkout@v2
      - name: Installation et configuration de Python 3.6
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Installation des dépendances
        run: python -m pip install nuitka pygame time pickle random
      - name: Build du jeu
        run: python -m nuitka --standalone NU-ER.py
      - name: Mise en ligne des artefacts
        uses: actions/upload-artifact@v2
        with:
          path: *.build/**
          name: ${{ matrix.os }}-artefacts
